@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.pagination {
  @include margin-top(2.5);
  display: flex;

  &__prev {
    width: 50%;
    text-align: left;

    &-link {
      color: $color-base;
      font-size: 26px;
      font-weight: bold;
      text-decoration: none !important;

      &--disable {
        pointer-events: none;
        color: lighten($color-gray, 20%);

        &--dark {
          pointer-events: none;
          color: darken($color-gray, 20%) !important;
        }
      }
    }
  }

  &__next {
    width: 50%;
    text-align: right;

    &-link {
      color: $color-base;
      font-size: 26px;
      font-weight: bold;
      text-decoration: none !important;

      &:focus {
        color: $color-base;
      }

      &--disable {
        pointer-events: none;
        color: lighten($color-gray, 20%);

        &--dark {
          pointer-events: none;
          color: darken($color-gray, 20%) !important;
        }
      }
    }
  }
}
