@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.feed {
  &__item {
    @include margin-bottom(2);

    &:last-child {
      @include margin-bottom(0.5);
    }

    &-title {
      font-size: $typographic-base-font-size * 1.6875;
      @include margin-top(0);
      @include margin-bottom(0);

      & a {
        text-decoration: none !important;
      }

      &-link {
        color: $color-base;
        text-decoration: none !important;

        &:hover,
        &:focus {
          border-bottom: 1px solid $color-base;
        }

        &--dark {
          @include text-shadow($color-black);
          text-decoration: none !important;
        }
      }
    }

    &-description {
      font-size: $typographic-base-font-size;
      @include line-height(1);
      @include margin-bottom(0.5);
      @include margin-top(0.5);
    }

    &-meta {
      @include margin-bottom(0.25);
      @include margin-top(0.25);

      &-time,
      &-duration {
        display: inline-block;
        font-size: $typographic-small-font-size;
        color: $color-gray;
        @include margin-top(0.25);
      }

      &-duration {
        margin-left: 0.75rem;
      }

      &-divider {
        margin: 0 5px;

        // &:before {
        //   content: '•';
        // }
      }

      &-category {
        @include category;

        & a {
          @include category;
          background-color: $color-primary;
          text-decoration: none;
        }

        &--dark {
          @include category;
          background-color: $color-black !important;

          & a {
            color: $color-gray !important;
          }
        }
      }
    }
  }
}
