/** 
 * Variables
 */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,400i,700&display=swap');

// Colors
$color-base: #222222 !default;
$color-primary: #F5EE8E !default;

$color-black: #111111;
$color-white: #fafafa !default;
$color-gray: lighten($color-base, 40%);
$color-gray-border: lighten($color-base, 77%);
$color-gray-bg: lighten($color-base, 79%);

// Typographic
$typographic-font-family: 'IBM Plex Serif', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;

$typographic-base-font-color: $color-base;
$typographic-link-p-font-color: $color-base;
$typographic-link-s-font-color: $color-primary;

$typographic-leading: round(16 * ($typographic-root-font-size / 100) * $typographic-base-line-height);

// Buttons
$button-height: 35px;
$button-border-radius: 20px;

// Layout
$layout-post-single-width: 945px;
$layout-post-width: $layout-post-single-width - 305px;

$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;