@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.tags {
  @include margin-bottom(0.5);

  &__list {
    list-style: none;
    margin: 0 -5px;
    padding: 0;

    &-item {
      display: inline-block;
      margin: 5px 0;
      text-transform: lowercase;

      &-link {
        @include post-tag;
        background: $color-primary;
        color: $color-base;

        &:before {
          content: '#';
        }

        &--dark {
          @include post-tag;
          color: $color-gray !important;
          background-color: $color-black;

          &:before {
            content: '#';
          }
        }
      }
    }
  }
}
