@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.tags {
  @include margin-bottom(0.5);

  &__list {
    list-style: none;
    margin: 0 -5px;
    padding: 0;

    &-item {
      display: inline-block;
      margin: 5px 0;
      text-transform: lowercase;

      &-link {
        display: inline-block;
        padding: 0 5px;
        background: $color-secondary;
        text-decoration: none;
        color: $color-base;

        &:hover,
        &:focus {
          color: white;
          background: $color-primary;
        }

        &:before {
          content: '#';
        }
      }
    }
  }
}
