@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.scroll {
  display: flex;
  justify-content: space-between;

  &__button {
    &-home,
    &-back-to-top {
      // max-width: 90px;
      height: $button-height;
      padding: 0 24px;
      line-height: $button-height;
      text-align: center;
      color: $color-base;
      border: 1px solid $color-gray-border;
      border-radius: $button-border-radius;
      font-size: $typographic-base-font-size;
      font-weight: normal;
      text-decoration: none !important;

      @include margin-top(1);

      &:hover,
      &:focus {
        border-color: $color-primary;
        // color: $color-base;
      }
    }

    // &-home {
    //   margin-right: auto;
    // }

    // &-back-to-top {
    //   margin-left: auto;
    // }
  }
}
