@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  &__photo {
    display: inline-block;
    margin-bottom: 0;
    border-radius: 50%;
    background-clip: padding-box;
  }

  &__title {
    font-size: $typographic-base-font-size * 2;
    font-weight: 600;
    @include text-shadow($color-primary);
    @include line-height(1.125);
    @include margin(0.5, 0, 0.5, 0);

    // &--dark {
    //   color: red;
    // }

    &-link {
      color: $color-base;

      &--dark {
        @include text-shadow($color-black);
      }

      &:hover,
      &:focus {
        // color: $color-base;
      }
    }
  }

  &__subtitle {
    // color: $color-base;
    @include line-height(1);
    @include margin-bottom(1);
  }
}
