@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.sidebar {
  width: 100%;
  &__inner,
  &__inner--dark {
    position: relative;
    padding: 25px 20px 0;
  }
}

@include breakpoint-sm {
  .sidebar {
    lost-column: 5/12;

    &__inner {
      padding: 30px 20px 0;

      &:after {
        @include sidebar-divider;
        background: $color-gray-border;
        background: linear-gradient(
          to bottom,
          $color-gray-border 0%,
          $color-gray-border 48%,
          $color-white 100%
        ) !important;
      }

      &--dark {
        padding: 30px 20px 0;
        &:after {
          @include sidebar-divider;
          background: $color-gray-border;
          background: linear-gradient(
            to bottom,
            darken($color-gray, 20%) 0%,
            darken($color-gray, 20%) 48%,
            $color-base 100%
          ) !important;
        }
      }
    }
  }
}

@include breakpoint-md {
  .sidebar {
    lost-column: 1/3;
    &__inner,
    &__inner--dark {
      padding: 40px;
    }
  }
}
