@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.sidebar {
  width: 100%;
}

@include breakpoint-sm {
  .sidebar {
    lost-column: 5/12;
  }
}

@include breakpoint-md {
  .sidebar {
    lost-column: 1/3;
  }
}
