@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.page {
  @include margin-bottom(0.25);

  &__inner {
    padding: 25px 20px;
  }

  &__title {
    @include page-title;
    @include text-shadow($color-primary);

    &--dark {
      @include page-title;
      @include text-shadow($color-black);
    }
  }

  &__body {
    font-size: $typographic-base-font-size;
    @include line-height(1);
    @include margin(0, 0, 1);

    & a {
      text-decoration: underline;
    }
  }
}

@include breakpoint-sm {
  .page {
    lost-column: 7/12;

    &__inner {
      padding: 30px 20px;
    }
  }
}

@include breakpoint-md {
  .page {
    lost-column: 2/3;

    &__inner {
      padding: 40px 35px;
    }
  }
}
