@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.menu {
  @include margin-bottom(1);

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      display: inline-block;
      padding: 0;
      margin: 10px 10px 10px 0;

      &-link {
        font-size: $typographic-base-font-size;
        color: $color-gray !important;
        font-weight: normal;
        border: 0;

        &:hover,
        &:focus {
          border-bottom: 2px solid $color-primary;
        }

        &--active {
          font-weight: 700;
          border-bottom: 2px solid $color-primary !important;
        }
      }
    }
  }
}
